
.dashboard {
    padding: 5% 2%;
}

.console-btn-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

@media (min-width: 768px)  {
    .scheduled {
        max-width: 66%;
    }
 }

button {
    background: white;
    border: 2px solid lightgray;
    min-width: 100px;
    min-height: 25px;
    max-width: 130px;
    border-radius: 2px;
    padding: 10px;
}