.create-message {
    padding: 0;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    width: 100%;
}

.create-message > * {
    padding: 1.33% 0;
}

.btn-row {
    padding: 5%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.delete {
    height: 3.33vw;
    max-height: 30px;
    min-height: 25px;
    width: auto;
}

.message-header {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.message-header h1 {
    font-size: 25px;
    width: 100%;
}

.create-message-wrapper {
    width: 88%;
    margin: 0 auto;
    padding: 5%;
}

#content {
    font-family: sans-serif;
    padding: 8px 0.75em;
    background: #FAFAFA;
    color: black;
    font-size: 95%;
    border-radius: 5px;
    height: auto;
    margin: 5% 0;
    box-shadow: 1.5px 1.5px 10px rgba(90, 90, 90, 0.20);
    border: none;
}

input[type="datetime-local"] {
    padding: 8px 0.75em;
    font-family: sans-serif;
    background-color: #E9E9EB;
    color: black;
    border-radius: 5px;
    border: none;
    font-size: 1em;
    margin: 5% 0;
    width: 100%;
}
button {
    background: white;
    border: 2px solid lightgray;
    min-width: 100px;
    min-height: 25px;
    max-width: 130px;
    border-radius: 2px;
    padding: 10px;
    cursor: pointer;
}

#deleteBtn {
    border: none;
}

@media (min-width: 768px)  {
    .create-message-wrapper {
        max-width: 50%;
    }
 }