.dashboard-nav {
    height: 75px;
    background: rgb(245, 245, 244);
    border-bottom: 1.33px solid rgb(196, 196, 196)
}

.nav-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    position: relative;
    padding: none;
    margin: 0 auto;
    max-width: 2000px;
}

.nav-wrapper--dashboard ul {
    list-style-type: none;
}

.nav-logo--dashboard {
    align-self: center;
    justify-self: center;
    color: black;
    padding: 0 4vw;
    flex-grow: 2;
}

.nav-wrapper--dashboard {
    display: flex;
    flex-direction: row;
    margin: 0 auto;
    font-size: 95%;
    color: black;
    text-align: right;
    justify-content: flex-end;
    align-items: center;
    padding: 0 3.66vw;
    flex-grow: 1;
}

.nav-wrapper--dashboard img {
    min-height: 33px;
    max-height: 40px;
    width: auto;
    border-radius: 100%;
    margin: 0;
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.15);
}

.userName {
    display: none;
}



@media (min-width: 768px)  {
   .userName{
       display: inline-block;
   }
   .nav-wrapper--dashboard img {
        margin: 0 1em;
   }
}
