.dashboard-nav {
  height: 75px;
  background: rgb(245, 245, 244);
  border-bottom: 1.33px solid rgb(196, 196, 196);
}

.nav-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  position: relative;
  padding: none;
  margin: 0 auto;
  max-width: 2000px;
}

.nav-wrapper--dashboard ul {
  list-style-type: none;
}

.nav-logo--dashboard {
  align-self: flex-start;
  justify-self: flex-start;
  color: black;
  padding: 0 4vw;
  flex-grow: 2;
  left: 0;
}

.nav-wrapper--dashboard {
  display: flex;
  flex-direction: row;
  margin: 0 auto;
  font-size: 95%;
  color: black;
  text-align: right;
  justify-content: space-around;
  align-items: center;
  padding: 0 3.66vw 0 0;
  flex-grow: 1;
  width: 100%;
  height: 100%;
  right: 0;
  position: absolute;
  max-width: 200px;
}

.nav-profile-wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.nav-profile-wrapper > * {
  margin: 0 5%;
}

.profile-img-wrapper {
  position: relative;
  width: 100%;
  max-width: 60px;
  min-width: 44px;
}
.profile-img-wrapper:after {
  content: "";
  display: block;
  padding: 0 0 100% 0;
}

.profile-img-wrapper img {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  border-radius: 100%;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.15);
  padding: 0;
  margin: 0;
  cursor: pointer;
}

.userName {
  display: none;
}

@media (min-width: 768px) {
  .userName {
    display: inline-block;
  }
  .nav-wrapper--dashboard img {
    margin: 0 1em;
  }
  .nav-profile-wrapper {
    min-width: 300px;
  }
  .nav-wrapper--dashboard {
    max-width: 500px;
  }
}
