.pop-up-wrapper {
    position: absolute;
    width: 100vw !important;
    margin: auto;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    padding: 1em;
    display: flex;
    align-items: center;
    justify-content: center;
}
.bg-dark-blur {
    position: absolute;
    width: 100vw;
    height: 100vh;
    background: black;
    opacity: 0.6;

    padding: 0;
}
.pop-up-container{
    margin: 0 auto;
    position: relative;
    box-shadow: 1.5px 1.5px 10px rgba(90, 90, 90, 0.20);
    height: auto;
    background: white;
    border-radius: 20px;
    border: 1px solid grey;
}
.pop-up-wrapper {
    display: flex; 
    flex-direction: column;
    width: 200px;
    align-items: center;
    margin: 0 auto;
}
.btn-cancel {
    border-radius: 100%;
    min-height: 2.5em;
    min-width: 2.5em;
    padding: 0;
    position: absolute;
    right: 3%;
    top: 2%;

}

@media (min-width: 300px)  {
    .pop-up-container {
        width: 66vw;
    }
 }
