* {
    font-family: sans-serif;
    box-sizing: border-box;
}

body {
    margin: 0 auto;
}

a {
    color: inherit;
}

nav {
    height: 66px;
    background: #0f0f0f;
}

.nav-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    position: relative;
    padding: none;
    margin: 0 auto;
    max-width: 2000px;
}

.nav-logo {
    align-self: center;
    justify-self: center;
    color: white;
    padding: 0 4vw;
    flex-grow: 2;
}

.nav-wrapper {
    display: flex;
    flex-direction: row;
    margin: 0 auto;
    font-size: 95%;
    color: white;
    text-align: right;
    justify-content: flex-end;
    padding: 0 8vw;
    flex-grow: 1;

}

.nav-wrapper ul {
    list-style-type: none;
}


.banner-container {
    width: 100%;
    height: 29vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: rgb(228,222,208);
    background: linear-gradient(114deg, rgba(228,222,208,1) 6%, rgba(241,51,51,1) 97%);
}

.banner-content {
    text-align: center;
}


.curator-wrapper .section-heading {
    text-align: center;
    font-size: 32px;
    padding: 4%;
}
.curator-wrapper {
    padding: 3% 0;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    align-items: center;
    width: 90%;
}

.curator-container {
    text-align: left;
    border: 2px solid lightgrey;
    min-height: 250px;
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    margin: 1.66% 0;
    position: relative;
}

.curator-container .profile-img {
    width: auto;
    height: 20%;
    max-height: 275px; 
    max-width: 275px;
    padding: 5%;
}

.curator-cta {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    justify-content: center;
    padding: 2.5%;
}
.curator-profile {
    flex-direction: column;
    display: flex;
    margin: 0 auto;
    width: 100%;
    display: inline-block;

}
.curator-profile > * {
    display: inline-block;
    min-width: 100%;
}

.curator-profile h1 {
    font-size: 25px;
    text-align: center;
}


.subscribe-container {
    display: block;
    width: 100%;
}

.subscribe-container form {
    margin: 0 auto;
    padding: 2.5% 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.subscribe-container form > input {
    width: 50%;
}



button {
    background: white;
    border: 2px solid lightgray;
    min-width: 100px;
    min-height: 25px;
    max-width: 130px;
    border-radius: 2px;
    padding: 10px;

}

form input {
    background: rgb(231, 231, 231);
    height: 30px;
}

form textarea {
    background: rgb(231, 231, 231);
}

@media (min-width: 768px)  {
    .curator-wrapper {
        width: 66vw;
    }
    .curator-container {
        flex-direction: row;
    }
  
    .curator-profile h1 {
        text-align: left;
    }

    .subscribe-container form {
        justify-content: space-between; 
        align-self: start;
        margin: 0;
        width: 100%;
    }
}

/*-------LOGIN -------*/

.login-container {
    margin: 0 auto;
    width: 80%;
    padding: 5%;
    max-width: 800px;
}
.login-container form{
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    width: 100%;
}

.login-container form > * {
    margin: 1.5%;
}

.login-container button {
    margin: 8% auto;
}

.login-container #description {
    height: 100px;
}



/*------- DASHBOARD -------*/

.dashboard {
    padding: 5% 2%;
}

.nav-wrapper--dashboard ul {
    list-style-type: none;
}

.dashboard-nav {
    background: rgb(240, 239, 236);
}

.nav-logo--dashboard {
    align-self: center;
    justify-self: center;
    color: black;
    padding: 0 4vw;
    flex-grow: 2;
}

.nav-wrapper--dashboard {
    display: flex;
    flex-direction: row;
    margin: 0 auto;
    font-size: 95%;
    color: black;
    text-align: right;
    justify-content: flex-end;
    align-items: center;
    padding: 0 3.66vw;
    flex-grow: 1;
}

.nav-wrapper--dashboard img {
    height: 33px;
    width: 33px;
}


.scheduled {
    padding: 5%;
    margin: 0 auto;
}

.scheduled h1 {
    font-size: 25px;
}

.scheduled-content-container {
    display: flex;
    flex-direction: column;
}

.scheduled-content-container li {
    padding: 1.33%;
}
.scheduled-content-container a {
    text-decoration: none;
}

.day-label {
    font-size: 20px;
    font-weight: bold;
    margin: 0;
    padding: 1.33% 0;
}

.message-preview-container {
    border: 1px solid lightgrey;
    background: #147efb;
    padding: 5px;
    color: white;
    border-radius: 5px;;
}

.console-btn-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

@media (min-width: 768px)  {
    .scheduled {
        max-width: 66%;
    }
 }



/*------- MESSAGES -------*/


.create-message-wrapper {
    width: 88%;
    margin: 0 auto;
    padding: 5%;
}

.create-message {
    padding: 0;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}

.create-message > * {
    padding: 1.33% 0;
}

#content {
    min-height: 150px;
    background: light
}

.btn-row {
    padding: 5%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.delete {
    height: 3.33vw;
    max-height: 30px;
    min-height: 25px;
    width: auto;
}

.message-header {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.message-header h1 {
    font-size: 25px;
    width: 100%;
}

@media (min-width: 768px)  {
   .create-message-wrapper {
       max-width: 50%;
   }
}